//variables
@import "variables";

//layouts
@import "base";

//components

@import "button.scss";

header {
  margin: 0 auto;
  width: 96vw;
  display: flex;
  justify-content: space-between;
  padding: $fontSize 0;
  border-bottom: 1px solid $primaryColor;

  font-family: $fontSecondary;
  .logo {
    margin-left: 2vw;
    font-weight: 700;
    font-size: $fontSize * 2;
  }
  ul {
    min-width: 50vw;
    margin-right: 2vw;
    display: flex;
    justify-content: center;
    li {
      font-size: $fontSize + 4;
      margin: 0 1vw;
      text-transform: uppercase;
    }
  }
}
footer {
  margin: 0 auto;
  width: 96vw;
  text-align: center;
  font-size: $fontSize;
  padding: $fontSize 0;
  border-top: 1px solid $primaryColor;
}

//Main Contnet

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $fontSize auto;
  width: 90vw;
  height: calc(100vh - 20vh);
  div:first-child {
    min-height: 150px;
    min-width: 150px; 
  }
  h4{
    margin: .3em auto;
  }
  h5{
    margin: .1em auto;
    text-decoration: underline;
  }
  h6{
    margin: .1em auto; 
  }
  li {
    cursor: pointer;
  }
}
